# external logs
auth.log
auth_live.log
field_tests/fixtures/auth.log
Linux_2k.log
toolkit/task3_access_validator/wordlist.txt
toolkit/task3_access_validator/poision_wordlist.txt

# generic logs
*.log

# python
__pycache__/
*.pyc

# virtual env
venv/
.env/

# editor
.vscode/
